* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

/*Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
}

nav h1 {
    color: #00f7ff;
}

h1 a.header-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

nav a:hover {
    color: #ff00c8;
}

/*Hero Section*/
.hero {
    text-align: center;
    margin-top: 100px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: linear-gradient(45deg, #00f7ff, #ff00c8);
    color: #121212;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/*Game Page HTML*/
.game-area {
    text-align: center;
    margin-top: 60px;
}

#gridContainer {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 15px;
    justify-content: center;
}

.square {
    width: 80px;
    height: 80px;
    background-color: #2a2a2a;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.square.active {
    background: linear-gradient(45deg, #00f7ff, #ff00c8);
    box-shadow: 0 0 15px #00f7ff;
}

.square.correct {
    background-color: #00ff88;
}

.square.incorrect {
    background-color: #ff3c3c;
}

/*Difficulty*/
.difficulty {
    margin-bottom: 20px;
}

.diffBtn {
    padding: 8px 16px;
    margin: 5px;
    background-color: #1e1e1e;
    border: 1px solid #00f7ff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.diffBtn:hover {
    background-color: #00f7ff;
    color: #121212;
}

/*Hide Difficulty and Start Buttons when Game begins*/
.hidden-smooth {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
}

.difficulty,
#startBtn {
    transition: opacity 0.8s ease;
}

/*About page*/
.container {
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}